[run]
branch = True
source =
    apps
    core
    services

[report]
omit =
    */migrations/*
    */tests/*
    */tests.py
    */test_*.py
    */tests_*.py
    */conftest.py
    */admin.py
    */apps.py
    */wsgi.py
    */asgi.py
    manage.py
    config/settings/*
    constants/*
